<div class="pet">

  <div class="container">

    <!-- menu -->

    <div class="pet__clientdetails">

      <div class="row">
        <h2>Mascotas</h2>
      </div>
  
      <div class="row">
        <div class="col">
          <h3>Mascotas de Cliente: <span> {{ idUser }} </span> </h3>
        </div>
      </div>
  
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" (click)="switchPetReg()">Registrar nueva Mascota</button>
          <button class="btn btn-secondary" routerLink="/home/clientes">Volver a Clientes</button>
        </div>
      </div>

    </div>

    <!-- register new pet -->

    <div class="container" *ngIf="switchRegpet">
      <h3>Registrar Nueva Mascota</h3>
      <form class="pet__formReg" [formGroup]="petFormReg">
        <div class="form-row">
          <div class="col">
            <input formControlName="name" type="text" class="form-control" placeholder="Nombres">
          </div>
          <div class="col">
            <input formControlName="species" type="text" class="form-control" placeholder="Especie">
          </div>
          <div class="col">
            <input formControlName="breed" type="number" class="form-control" placeholder="Raza">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input formControlName="color" type="number" class="form-control" placeholder="Color">
          </div>
          <div class="col-8">
            <input formControlName="birthdate" type="text" class="form-control" placeholder="Fecha de Nacimiento">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input formControlName="sex" type="text" class="form-control" placeholder="Sexo">
          </div>
          <!-- <div class="col">
            <input formControlName="password" type="password" class="form-control" placeholder="Contraseña">
          </div> -->
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="petFormReg.invalid">Registrar Nueva Mascota</button>
      </form>
      <button class="btn btn-secondary" (click)="switchPetList()">Cancelar</button>
    </div>

    <!-- pet list -->

    <div class="pet__container row" [hidden]="!switchListpet">
      <div class="col">
        <ngb-accordion [closeOthers]="true" activeIds="static-1">

          <ngb-panel id="static-1">

            <ng-template ngbPanelTitle>
              <span>&#9733; <b>Mascota</b> {{ idUser }} &#9733;</span>
            </ng-template>

            <ng-template ngbPanelContent>

              <div class="row">

                <div class="col-8">
                  <h3>Datos Generales</h3>
                  <div class="form-group row">
                    <div class="col-4">
                      <label class="col col-form-label">Nombres:</label>
                      <label class="col col-form-label">Especie:</label>
                      <label class="col col-form-label">Raza:</label>
                      <label class="col col-form-label">Color:</label>
                      <label class="col col-form-label">Sexo:</label>
                      <label class="col col-form-label">Fecha de Nacimiento:</label>
                    </div>
                    <div class="col">
                      <label class="col col-form-label">Nombreasdf</label>
                      <label class="col col-form-label">Eadsfadsf</label>
                      <label class="col col-form-label">asdfasdf</label>
                      <label class="col col-form-label">adsfasdf</label>
                      <label class="col col-form-label">asdfasdf</label>
                      <label class="col col-form-label">adsfasdfdsf</label>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <h3>Acciones</h3>
                  <div class="form-group row">
                    <div class="col">
                      <button class="btn btn-primary">Ver Historial Clínico</button>
                    </div>
                    <div class="col">
                      <button class="btn btn-primary">Ver Tarjeta de Vacunas</button>
                    </div>
                  </div>
                </div>

              </div>

            </ng-template>
          </ngb-panel>

          <ngb-panel id="static-2">

            <ng-template ngbPanelTitle>
              <span>&#9733; <b>Mascota</b> 2 &#9733;</span>
            </ng-template>

            <ng-template ngbPanelContent>

              <div class="row">

                <div class="col-8">
                  <h3>Datos Generales</h3>
                  <div class="form-group row">
                    <div class="col-4">
                      <label class="col col-form-label">Nombres:</label>
                      <label class="col col-form-label">Especie:</label>
                      <label class="col col-form-label">Raza:</label>
                      <label class="col col-form-label">Color:</label>
                      <label class="col col-form-label">Sexo:</label>
                      <label class="col col-form-label">Fecha de Nacimiento:</label>
                    </div>
                    <div class="col">
                      <label class="col col-form-label">Nombreasdf</label>
                      <label class="col col-form-label">Eadsfadsf</label>
                      <label class="col col-form-label">asdfasdf</label>
                      <label class="col col-form-label">adsfasdf</label>
                      <label class="col col-form-label">asdfasdf</label>
                      <label class="col col-form-label">adsfasdfdsf</label>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <h3>Acciones</h3>
                  <div class="form-group row">
                    <div class="col">
                      <button class="btn btn-primary">Ver Historial Clínico</button>
                    </div>
                    <div class="col">
                      <button class="btn btn-primary">Ver Tarjeta de Vacunas</button>
                    </div>
                  </div>
                </div>

              </div>

            </ng-template>
          </ngb-panel>

          <ngb-panel id="static-3" title="Disabled" [disabled]="true">
            <ng-template ngbPanelContent>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
              moon tempor,
              sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
              helvetica,
              craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
              Leggings
              occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
              accusamus
              labore sustainable VHS.
            </ng-template>
          </ngb-panel>

        </ngb-accordion>
      </div>
    </div>

  </div>

</div>