/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #90323D;
  --secondary-color: #966B9D;
  --third-color: #1B1B1E;
  --bg-primary: #FCFCFC;
  --bg-secondary: #1B1B1E;
  --text-primary: #1B1B1E;
  --text-secondary: #FCFCFC;
}

*, *:before, *:after {
  font-family: 'Quicksand', sans-serif;
  transition: all 300ms ease;
}

$theme-colors: (
  "primary": #966B9D,
  "secondary": #90323D
);
  
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  font-weight: bold;
}

h3 span {
  color: var(--secondary-color);
}

input, textarea, select, small, .card {
  margin-bottom: 1rem;
  border-radius: 0.7rem!important;
}

button {
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.7rem!important;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 0.75rem;
}